<style>
    .table {
        margin: 0;
    }

    .table thead th {
        vertical-align: middle;
        border: 1px solid var(--border-color);
        text-align: center;
    }

    .table td {
        border: 1px solid var(--border-color);
    }

    .card-body {
        padding: 16px;
    }

    .image {
        height: 191px;
    }

    .image img {
        height: 100%;
        width: 100%;
    }

    @media only print {
        body {
            margin: 0 !important;
            padding: 0 !important;
        }

        .container,
        .container-fluid,
        .col-md-12 {
            padding: 0 !important;
        }

        .employee .card-body {
            padding: 0;
        }

        .employee .card {
            border: 0;
            margin-bottom: 20px;
        }

        .employee .card-body .table {
            width: 100%;
        }

        .employee .emply_history .card-body .table {
            min-height: 231px;
        }

        .emply_history .col-md-5 {
            width: 39%;
        }

        .emply_history .col-md-2 {
            width: 20%;
        }

        .emply_history .image {
            height: 231px;
        }
    }

    [data-route="employment-history"] .container {
        max-width: 1600px;
        width: 100%;
    }

    .employment_history th {
        min-width: 100px;
    }

    .employment_history th:first-child {
        min-width: 30px;
    }

    .employment_history td {
        font-size: 12px;
        text-align: center;
    }
</style>
<div class="container-fluid employee">
    {% if hasEmployee %}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center my-4">Employee Career History Form</h2>
        </div>
        <!-- Print button removed from here -->
    </div>
    {% endif %}
    {% if hasEmployee %}
    <div class="row emply_history mb-3">
        <div class="col-md-5 pl-0">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td><b>Employee Name:</b></td>
                                <td>{{ detail.full_name }}</td>
                            </tr>
                            <tr>
                                <td><b>Designation</b></td>
                                <td>{{ detail.designation }}</td>
                            </tr>
                            <tr>
                                <td><b>Date of Joining</b></td>
                                <td>{{ detail.date_of_joining }}</td>
                            </tr>
                            <tr>
                                <td><b>Current Salary</b></td>
                                <td>{{ detail.current_salary }}</td>
                            </tr>
                            <tr>
                                <td><b>Qualification</b></td>
                                <td>{{ detail.qualification }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5 p-0">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td><b>Father Name</b></td>
                                <td>{{ detail.father_name }}</td>
                            </tr>
                            <tr>
                                <td><b>Department</b></td>
                                <td>{{ detail.department }}</td>
                            </tr>
                            <tr>
                                <td><b>Employment Type</b></td>
                                <td>{{ detail.employment_type }}</td>
                            </tr>
                            <tr>
                                <td><b>Total Journey With AKFP</b></td>
                                <td>{{ detail.total_duration }}</td>
                            </tr>
                            <tr>
                                <td><b>Mobile No</b></td>
                                <td>{{ detail.mobile_no }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2 pr-0">
            <div class="card">
                <div class="card-body">
                    <div class="image">
                        {% if (detail.image_url) %}
                        <img src="{{detail.image_url}}" alt="Employee Image">
                        {% else %}
                        <img src="https://static.vecteezy.com/system/resources/thumbnails/020/765/399/small/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg"
                            alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 p-0">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Employment History</h2>
                    <table class="table table-sm employment_history">
                        <thead>
                            <tr>
                                <th>Sr. #</th>
                                <th>Description</th>
                                <th>Effective Date</th>
                                <th>Designation</th>
                                <th>Probation</th>
                                <th>Annual</th>
                                <th>Promotion</th>
                                <th>Special</th>
                                <th>Self Devp.</th>
                                <th>Disparity</th>
                                <th>Salary Slab Adjustment</th>
                                <th>Confirmation</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in history %}
                            <tr>
                                <td>{{ entry.serial_number }}</td>
                                <td><b>{{ entry.description }}</b></td>
                                <td>{{ entry.effective_date }}</td>
                                <td>{{ entry.designation }}</td>
                                <td>{{ entry.probation }}</td>
                                <td>{{ entry.annual }}</td>
                                <td>{{ entry.promotion }}</td>
                                <td>{{ entry.special }}</td>
                                <td>{{ entry.self_devp }}</td>
                                <td>{{ entry.disparity }}</td>
                                <td>{{ entry.salary_slab_adjustment }}</td>
                                <td>{{ entry.confirmation }}</td>
                                <td>{{ entry.salary }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>